<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3 style="color: white"> Помощь </h3>
                    <ul class="list-unstyled footer-nav">
                        <h3><a href="#" style="color: darkred">Все ссылки футера в ремонте
                        </a></h3>
                        <li><a href="#" style="color: white">8 800 555 3555
                        </a></li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: white"> Магазин </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#" style="color: white">Получать новости
                        </a></li>

                        <li><a href="#" style="color: white"> Наш адрес
                        </a></li>
                    </ul>

                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: white"> Информация </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#" style="color: white">Вопросы?
                        </a></li>
                        <li><a href="#" style="color: white"> Статус заказа
                        </a></li>
                        <li><a href="#" style="color: white"> Политика возврата </a></li>
                        <li><a href="#" style="color: white">
                            Связаться с нами
                        </a></li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color: white"> Мой аккаунт </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#" style="color: white"> vk.com
                        </a></li>

                        <li><a href="#" style="color: white"> zoom.com
                        </a></li>
                        <li><a href="#" style="color: white"> yotube.com
                        </a></li>
                    </ul>
                </div>

                <div style="clear:both" class="hide visible-xs"></div>

                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3 style="color: white"> Оставайтесь с нами </h3>
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#" style="color: white">ссылки на соц сети
                        </a></li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> &copy; APPLE-STORE 2020. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>